/* Import the font from Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Comic+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Comic+Neue:wght@700&display=swap');

body, html {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: Arial, sans-serif;
    background-color: #EFF48A; /* New background color */
}

#content {
    text-align: center;
    font-family: 'Comic Neue', cursive; /* Comic Neue font */
    font-weight: bold; /* Make the text bold */
    text-transform: uppercase; /* Capitalize all letters */
    font-size: 50px; /* Increase the font size */
    /* Add any additional styling as needed */
}

#buttons {
    position: relative; /* Ensures container doesn't change size */
    margin-top: 20px;
}

button {
    position: relative; /* Keeps buttons in place */
    margin: 0 10px;
    padding: 10px;
    font-size: 20px; /* Change the font size as needed */
    font-family: 'Comic Neue', cursive; /* Example font - Comic Neue */
    font-weight: bold;
    cursor: pointer;
}
/* Style for the "No" button */
#noButton {
    background-color: #f45b69; /* Background color for "No" button */
    color: #4d2419; /* Text color */
    border-radius: 10px; /* Slight roundness of corners */
}

/* Style for the "Yes" button */
#yesButton {
    background-color: #84e6f8; /* Background color for "Yes" button */
    color: #4d2419; /* Text color */
    border-radius: 10px; /* Slight roundness of corners */
}

/* Style for the "Will you be my valentine?" text */
#content p {
    color: #4d2419; /* Color of the text */
    /* Other styles (font, size, etc.) remain unchanged */
}


.itinerary-container h1, .itinerary-container h2 {
    position: fixed;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    text-align: center;
    color: #4d2419;
}

.itinerary-container h1 {
    top: 10%;
    font-family: 'Comic Sans', cursive;
    font-weight: bold;
    font-size: 75px;
    margin-bottom: 0;
}

.itinerary-container h2 {
    top: 26%;
    font-family: 'Comic Neue', sans-serif;
    font-size: 28px;
    margin-top: 0;
}

.spacer {
    margin: 50px 0; /* Adjust this for spacing between h2 and itinerary list */
}

.itinerary {
    display: flex;
    color: #4d2419;
    flex-direction: column;
    align-items: center;
    width: 75%; /* Match this with your .item width for consistency */
    position: fixed; /* Make the container fixed to start from a specific point */
    top: 35%; /* Start from the vertical center of the screen */
    transform: translate(-50%, 0); /* Center it horizontally */
    overflow-y: auto; /* Allows scrolling within the container if it extends beyond the viewport height */
    max-height: 50%; /* Adjust this value based on your needs */
    padding: 10px; /* Padding around the content */
    border: 1px solid #FFFFFF; /* White border */
    background-color: rgba(255, 255, 255, 0.5); /* White background with 20% opacity */
    box-sizing: border-box; /* Ensures padding is included in the width/height */
    border-radius: 15px;
}

.item {
    display: grid;
    grid-template-columns: auto 1fr auto;
    align-items: center;
    width: 99%; /* Adjust based on your preference */
    position: relative;
    max-width: 100%;
}

.place, .time {
    white-space: nowrap; /* Ensures content stays in one row */
    font-size: 26px;
}

.dots {
    overflow: hidden;
    white-space: nowrap;
    font-size: 20px;
}

.dots::after {
    content: '.......................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................';
    display: inline-block;
    width: 99%;
    overflow: hidden;
}
